@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {

}

.header {
	position: fixed;
	width: 100%;
	background-color: transparent;
	z-index: 1;
	height: 50px;

}

.nav {
	width: 450px;
	height: 100%;

}


.navbar {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.navbar > a {
	text-decoration: none;
	color: #2b2b2b;
	font-size: 14px;
}

main {
	background-image: url(bg1.jpg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.main-text-container {
	display: flex;
	font-size: 10px;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}


.main-text {
	background-color: #2b2b2b;
	color: #FFF;
	padding: 14px 30px;
	letter-spacing: 10px;
}

.hidden-burger {
	display: none;
}

@media only screen and (max-width: 600px) {
	.mid-word {
		display: none;
	}

	.hidden {
		display: none;
	}

	.navbar {
		width: 100%;
		align-items: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.nav {
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.hidden-burger {
		display: block;
		font-size: 20px;
		position: relative;
		right: 0;
	}
}


.shadow{
-webkit-box-shadow:0px 2px 12px #2b2b2b;
 -moz-box-shadow:0px 2px 12px #2b2b2b;
 box-shadow:0px 2px 12px #2b2b2b;
  }




.animate {
	animation: animation 0.2s normal forwards ease-in-out;
}


@keyframes animation {
	0% {
		top:-50px;
	}
	100% {
		top: 0;
	}
}



#about {
	width: 950px;
	margin: auto;
	color: #2b2b2b;
	margin-top: 50px;
}

.column-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row-about {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 950px) {
	#about {
		width: 90%;
		margin:auto;
	}
}

.portrait {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.info {
	flex: 1;
}
.portrait-img {
	height: 350px;
	width: 100%;
	background-image: url(portrait.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

.about-me {
	line-height: 60px;
}

.love {
	line-height: 70px;
}

.info {
	line-height: 30px;
}

.name {
	margin-bottom: 60px;
}

	.navbar-hidden {
		display: none;
		flex-direction: column;
		background-color: white;
		height: 200px;
		justify-content: space-around;
		align-items: center;
	}
.plus-line {
	width: 100%;
	height: 150px;
	margin-top: 80px;
	display: flex;
	background-color: #2b2b2b;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	text-align:center;
	line-height: 40px;

}



@media only screen and (max-width: 600px) {
	.n {
		display: none;
	}
	#about {
		height: 900px;
	}
	.row-about {
		justify-content: center;
		align-items: center;
	}
	.portrait{
		justify-content: center;
		align-items: center;
	}

	.navbar-hidden > a {
		color:#2b2b2b;
		text-decoration: none;
	}
	.plus-line {
		flex-direction: column;
		height: 500px;
		width: 100%;
		margin-top: 550px;
	}
}
#abouts {
	margin-bottom: 50px;
}

.levels {
	width: 100%;
	margin: auto;
}

.levels > h3 {
	margin-bottom: 25px;
	text-align: center;
}


.level-box {
	margin-bottom: 25px;
	color: #2b2b2b;
}

.progress-line {
	width: 100%;
	height: 35px;
	background-color: #2b2b2b;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.level-box > p {
	line-height: 40px;
	letter-spacing: 6px;
}


